.project
.classpath
/bin

# Cartelle di sperimentazione
src/sperimentazione/tipoGriglia/
src/sperimentazione/doppiodentedisega/
src/sperimentazione/lineaspezzata/
src/sperimentazione/scacchiera/
src/sperimentazione/spirale/
src/sperimentazione/vardimensioni/
src/sperimentazione/varostacoli/
src/sperimentazione/correttezza/
src/sperimentazione/grandiDimensioni/