.project
.classpath
/bin

# Cartelle di sperimentazione tipoGriglia
src/sperimentazione/tipoGriglia/cache/
src/sperimentazione/tipoGriglia/condizioneRafforzata/
src/sperimentazione/tipoGriglia/sortedfrontiera/
src/sperimentazione/tipoGriglia/nocache/
src/sperimentazione/tipoGriglia/nocondizionerafforzata/
src/sperimentazione/tipoGriglia/nosortedfrontiera/
src/sperimentazione/tipoGriglia/performance/

# Cartelle numeriche da 0 a 255 sotto tipoGriglia
src/sperimentazione/tipoGriglia/0/
src/sperimentazione/tipoGriglia/1/
src/sperimentazione/tipoGriglia/2/
src/sperimentazione/tipoGriglia/3/
src/sperimentazione/tipoGriglia/4/
src/sperimentazione/tipoGriglia/5/
src/sperimentazione/tipoGriglia/6/
src/sperimentazione/tipoGriglia/7/
src/sperimentazione/tipoGriglia/8/
src/sperimentazione/tipoGriglia/9/
src/sperimentazione/tipoGriglia/10/
src/sperimentazione/tipoGriglia/11/
src/sperimentazione/tipoGriglia/12/
src/sperimentazione/tipoGriglia/13/
src/sperimentazione/tipoGriglia/14/
src/sperimentazione/tipoGriglia/15/
src/sperimentazione/tipoGriglia/16/
src/sperimentazione/tipoGriglia/17/
src/sperimentazione/tipoGriglia/18/
src/sperimentazione/tipoGriglia/19/
src/sperimentazione/tipoGriglia/20/
src/sperimentazione/tipoGriglia/21/
src/sperimentazione/tipoGriglia/22/
src/sperimentazione/tipoGriglia/23/
src/sperimentazione/tipoGriglia/24/
src/sperimentazione/tipoGriglia/25/
src/sperimentazione/tipoGriglia/26/
src/sperimentazione/tipoGriglia/27/
src/sperimentazione/tipoGriglia/28/
src/sperimentazione/tipoGriglia/29/
src/sperimentazione/tipoGriglia/30/
src/sperimentazione/tipoGriglia/31/
src/sperimentazione/tipoGriglia/32/
src/sperimentazione/tipoGriglia/33/
src/sperimentazione/tipoGriglia/34/
src/sperimentazione/tipoGriglia/35/
src/sperimentazione/tipoGriglia/36/
src/sperimentazione/tipoGriglia/37/
src/sperimentazione/tipoGriglia/38/
src/sperimentazione/tipoGriglia/39/
src/sperimentazione/tipoGriglia/40/
src/sperimentazione/tipoGriglia/41/
src/sperimentazione/tipoGriglia/42/
src/sperimentazione/tipoGriglia/43/
src/sperimentazione/tipoGriglia/44/
src/sperimentazione/tipoGriglia/45/
src/sperimentazione/tipoGriglia/46/
src/sperimentazione/tipoGriglia/47/
src/sperimentazione/tipoGriglia/48/
src/sperimentazione/tipoGriglia/49/
src/sperimentazione/tipoGriglia/50/
src/sperimentazione/tipoGriglia/51/
src/sperimentazione/tipoGriglia/52/
src/sperimentazione/tipoGriglia/53/
src/sperimentazione/tipoGriglia/54/
src/sperimentazione/tipoGriglia/55/
src/sperimentazione/tipoGriglia/56/
src/sperimentazione/tipoGriglia/57/
src/sperimentazione/tipoGriglia/58/
src/sperimentazione/tipoGriglia/59/
src/sperimentazione/tipoGriglia/60/
src/sperimentazione/tipoGriglia/61/
src/sperimentazione/tipoGriglia/62/
src/sperimentazione/tipoGriglia/63/
src/sperimentazione/tipoGriglia/64/
src/sperimentazione/tipoGriglia/65/
src/sperimentazione/tipoGriglia/66/
src/sperimentazione/tipoGriglia/67/
src/sperimentazione/tipoGriglia/68/
src/sperimentazione/tipoGriglia/69/
src/sperimentazione/tipoGriglia/70/
src/sperimentazione/tipoGriglia/71/
src/sperimentazione/tipoGriglia/72/
src/sperimentazione/tipoGriglia/73/
src/sperimentazione/tipoGriglia/74/
src/sperimentazione/tipoGriglia/75/
src/sperimentazione/tipoGriglia/76/
src/sperimentazione/tipoGriglia/77/
src/sperimentazione/tipoGriglia/78/
src/sperimentazione/tipoGriglia/79/
src/sperimentazione/tipoGriglia/80/
src/sperimentazione/tipoGriglia/81/
src/sperimentazione/tipoGriglia/82/
src/sperimentazione/tipoGriglia/83/
src/sperimentazione/tipoGriglia/84/
src/sperimentazione/tipoGriglia/85/
src/sperimentazione/tipoGriglia/86/
src/sperimentazione/tipoGriglia/87/
src/sperimentazione/tipoGriglia/88/
src/sperimentazione/tipoGriglia/89/
src/sperimentazione/tipoGriglia/90/
src/sperimentazione/tipoGriglia/91/
src/sperimentazione/tipoGriglia/92/
src/sperimentazione/tipoGriglia/93/
src/sperimentazione/tipoGriglia/94/
src/sperimentazione/tipoGriglia/95/
src/sperimentazione/tipoGriglia/96/
src/sperimentazione/tipoGriglia/97/
src/sperimentazione/tipoGriglia/98/
src/sperimentazione/tipoGriglia/99/
src/sperimentazione/tipoGriglia/100/
src/sperimentazione/tipoGriglia/101/
src/sperimentazione/tipoGriglia/102/
src/sperimentazione/tipoGriglia/103/
src/sperimentazione/tipoGriglia/104/
src/sperimentazione/tipoGriglia/105/
src/sperimentazione/tipoGriglia/106/
src/sperimentazione/tipoGriglia/107/
src/sperimentazione/tipoGriglia/108/
src/sperimentazione/tipoGriglia/109/
src/sperimentazione/tipoGriglia/110/
src/sperimentazione/tipoGriglia/111/
src/sperimentazione/tipoGriglia/112/
src/sperimentazione/tipoGriglia/113/
src/sperimentazione/tipoGriglia/114/
src/sperimentazione/tipoGriglia/115/
src/sperimentazione/tipoGriglia/116/
src/sperimentazione/tipoGriglia/117/
src/sperimentazione/tipoGriglia/118/
src/sperimentazione/tipoGriglia/119/
src/sperimentazione/tipoGriglia/120/
src/sperimentazione/tipoGriglia/121/
src/sperimentazione/tipoGriglia/122/
src/sperimentazione/tipoGriglia/123/
src/sperimentazione/tipoGriglia/124/
src/sperimentazione/tipoGriglia/125/
src/sperimentazione/tipoGriglia/126/
src/sperimentazione/tipoGriglia/127/
src/sperimentazione/tipoGriglia/128/
src/sperimentazione/tipoGriglia/129/
src/sperimentazione/tipoGriglia/130/
src/sperimentazione/tipoGriglia/131/
src/sperimentazione/tipoGriglia/132/
src/sperimentazione/tipoGriglia/133/
src/sperimentazione/tipoGriglia/134/
src/sperimentazione/tipoGriglia/135/
src/sperimentazione/tipoGriglia/136/
src/sperimentazione/tipoGriglia/137/
src/sperimentazione/tipoGriglia/138/
src/sperimentazione/tipoGriglia/139/
src/sperimentazione/tipoGriglia/140/
src/sperimentazione/tipoGriglia/141/
src/sperimentazione/tipoGriglia/142/
src/sperimentazione/tipoGriglia/143/
src/sperimentazione/tipoGriglia/144/
src/sperimentazione/tipoGriglia/145/
src/sperimentazione/tipoGriglia/146/
src/sperimentazione/tipoGriglia/147/
src/sperimentazione/tipoGriglia/148/
src/sperimentazione/tipoGriglia/149/
src/sperimentazione/tipoGriglia/150/
src/sperimentazione/tipoGriglia/151/
src/sperimentazione/tipoGriglia/152/
src/sperimentazione/tipoGriglia/153/
src/sperimentazione/tipoGriglia/154/
src/sperimentazione/tipoGriglia/155/
src/sperimentazione/tipoGriglia/156/
src/sperimentazione/tipoGriglia/157/
src/sperimentazione/tipoGriglia/158/
src/sperimentazione/tipoGriglia/159/
src/sperimentazione/tipoGriglia/160/
src/sperimentazione/tipoGriglia/161/
src/sperimentazione/tipoGriglia/162/
src/sperimentazione/tipoGriglia/163/
src/sperimentazione/tipoGriglia/164/
src/sperimentazione/tipoGriglia/165/
src/sperimentazione/tipoGriglia/166/
src/sperimentazione/tipoGriglia/167/
src/sperimentazione/tipoGriglia/168/
src/sperimentazione/tipoGriglia/169/
src/sperimentazione/tipoGriglia/170/
src/sperimentazione/tipoGriglia/171/
src/sperimentazione/tipoGriglia/172/
src/sperimentazione/tipoGriglia/173/
src/sperimentazione/tipoGriglia/174/
src/sperimentazione/tipoGriglia/175/
src/sperimentazione/tipoGriglia/176/
src/sperimentazione/tipoGriglia/177/
src/sperimentazione/tipoGriglia/178/
src/sperimentazione/tipoGriglia/179/
src/sperimentazione/tipoGriglia/180/
src/sperimentazione/tipoGriglia/181/
src/sperimentazione/tipoGriglia/182/
src/sperimentazione/tipoGriglia/183/
src/sperimentazione/tipoGriglia/184/
src/sperimentazione/tipoGriglia/185/
src/sperimentazione/tipoGriglia/186/
src/sperimentazione/tipoGriglia/187/
src/sperimentazione/tipoGriglia/188/
src/sperimentazione/tipoGriglia/189/
src/sperimentazione/tipoGriglia/190/
src/sperimentazione/tipoGriglia/191/
src/sperimentazione/tipoGriglia/192/
src/sperimentazione/tipoGriglia/193/
src/sperimentazione/tipoGriglia/194/
src/sperimentazione/tipoGriglia/195/
src/sperimentazione/tipoGriglia/196/
src/sperimentazione/tipoGriglia/197/
src/sperimentazione/tipoGriglia/198/
src/sperimentazione/tipoGriglia/199/
src/sperimentazione/tipoGriglia/200/
src/sperimentazione/tipoGriglia/201/
src/sperimentazione/tipoGriglia/202/
src/sperimentazione/tipoGriglia/203/
src/sperimentazione/tipoGriglia/204/
src/sperimentazione/tipoGriglia/205/
src/sperimentazione/tipoGriglia/206/
src/sperimentazione/tipoGriglia/207/
src/sperimentazione/tipoGriglia/208/
src/sperimentazione/tipoGriglia/209/
src/sperimentazione/tipoGriglia/210/
src/sperimentazione/tipoGriglia/211/
src/sperimentazione/tipoGriglia/212/
src/sperimentazione/tipoGriglia/213/
src/sperimentazione/tipoGriglia/214/
src/sperimentazione/tipoGriglia/215/
src/sperimentazione/tipoGriglia/216/
src/sperimentazione/tipoGriglia/217/
src/sperimentazione/tipoGriglia/218/
src/sperimentazione/tipoGriglia/219/
src/sperimentazione/tipoGriglia/220/
src/sperimentazione/tipoGriglia/221/
src/sperimentazione/tipoGriglia/222/
src/sperimentazione/tipoGriglia/223/
src/sperimentazione/tipoGriglia/224/
src/sperimentazione/tipoGriglia/225/
src/sperimentazione/tipoGriglia/226/
src/sperimentazione/tipoGriglia/227/
src/sperimentazione/tipoGriglia/228/
src/sperimentazione/tipoGriglia/229/
src/sperimentazione/tipoGriglia/230/
src/sperimentazione/tipoGriglia/231/
src/sperimentazione/tipoGriglia/232/
src/sperimentazione/tipoGriglia/233/
src/sperimentazione/tipoGriglia/234/
src/sperimentazione/tipoGriglia/235/
src/sperimentazione/tipoGriglia/236/
src/sperimentazione/tipoGriglia/237/
src/sperimentazione/tipoGriglia/238/
src/sperimentazione/tipoGriglia/239/
src/sperimentazione/tipoGriglia/240/
src/sperimentazione/tipoGriglia/241/
src/sperimentazione/tipoGriglia/242/
src/sperimentazione/tipoGriglia/243/
src/sperimentazione/tipoGriglia/244/
src/sperimentazione/tipoGriglia/245/
src/sperimentazione/tipoGriglia/246/
src/sperimentazione/tipoGriglia/247/
src/sperimentazione/tipoGriglia/248/
src/sperimentazione/tipoGriglia/249/
src/sperimentazione/tipoGriglia/250/
src/sperimentazione/tipoGriglia/251/
src/sperimentazione/tipoGriglia/252/
src/sperimentazione/tipoGriglia/253/
src/sperimentazione/tipoGriglia/254/
src/sperimentazione/tipoGriglia/255/